.progress-indicator {
	-fx-progress-color: rgb(235, 94, 40);
}

.progress-indicator .percentage {
    -fx-fill: null;
} 

.focus-management-buttons:hover {
	-fx-background-color:rgba(63, 41, 43,0.8);
}
.scroll-pane .viewport {
	-fx-background-color: transparent;
}

.task {
	-fx-padding: 0 0 0 0;
	-fx-min-height: 70;
	-fx-max-width: 980;
	-fx-pref-width: 700;
}

.task:hover{
	-fx-background-color: green;
}


.check-box .box {
	
	-fx-background-color: white;
	-fx-border-color:grey;
	-fx-border-radius:3px; 

}

.check-box:selected .mark {

	-fx-background-color: white;

}

.check-box:selected .box {

	-fx-background-color: #d34f73;
}

.text-area .content {
    -fx-background-color: rgb(204, 197, 185) ;
    -fx-border-color: black;
}


.focus-clock-button{
	-fx-background-color:  rgb(63, 41, 43);
	-fx-pref-width: 100;
	-fx-pref-heigth: 50;
	-fx-text-fill: #d34f73;
	-fx-font-size: 18;
	-fx-font-weight: bold;
}


.list-button {
	-fx-min-width: 450;
	-fx-min-heigth: 80;
	-fx-font-size: 24;
	-fx-font-weight: bold;
	-fx-background-color: rgb(204, 197, 185);
	-fx-text-fill: rgb(235, 94, 40);
}

.list-button:hover {
	-fx-background-color:  rgb(51, 49, 46);
}



.calendar {
	-fx-min-height: 840;
	-fx-min-width: 1200;
}

.cell {
	-fx-border-color: black;
}

.calendar-list-button {
	-fx-pref-width: 250;
	-fx-pref-heigth: 40;
	-fx-padding: 10;
}














